* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  z-index: 1000;
}
#header .fa-bars {
  font-size: 4rem;
  z-index: 10000;
  color: #ff5e79;
  cursor: pointer;
  display: none;
}
#header .logo img {
  height: 8rem;
}
#header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
#header nav ul li {
  margin-right: 4rem;
}
#header nav ul li a {
  color: #fff;
  font-size: 2rem;
}
#header nav ul li a:hover {
  color: #ff5e79;
  text-decoration: none;
}

.header-active {
  background: rgb(255, 146, 73);
  height: 6rem;
  box-shadow: 0.2rem 0 0.5rem rgb(35, 97, 6);
}
.header-active nav ul {
  margin: 0;
}

#home {
  background: linear-gradient(0deg, rgba(107, 104, 54, 0.6), rgba(80, 18, 49, 0.555));
  min-height: 100vh;
  position: relative;
}
#home .content h1 {
  font-size: 5rem;
  font-family: "Patua One", sans-serif;
  font-weight: bolder;
  text-shadow: 0.1rem 0.1rem 0.3rem #333;
  color: #ff5e79;
}
#home .content h2 {
  font-size: 3.5rem;
  font-family: "Patua One", sans-serif;
  font-weight: bolder;
  text-shadow: 0.1rem 0.1rem 0.3rem #333;
  color: #fff;
  margin: 1rem 0;
}
#home .content p {
  font-size: 1.6rem;
  color: #ccc;
}
#home .content button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 12rem;
  background: #fff;
}
#home .content button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #ff5e79;
  height: 100%;
  width: 0;
  transition: 0.2s;
  z-index: -1;
}
#home .content button:hover::before {
  width: 100%;
}
#home .video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}
#home .video-container .vid {
  position: absolute;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
#home .video-container .vid1 {
  display: block;
}
#home .controls {
  position: absolute;
  bottom: 14%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
#home .controls .dots {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  background: #ff5e79;
  margin: 0 1rem;
}
#home .controls .dots:hover {
  background: #fff;
}

#special {
  background: rgb(255, 231, 123);
  min-height: 100vh;
}
#special .heading h1 {
  font-size: 4rem;
  color: #000;
  padding-top: 7rem;
  margin-bottom: 2rem;
  font-family: "Patua One", sans-serif;
  color: #fff;
  font-family: "Patua One", sans-serif;
}
#special .heading h1 span {
  color: #ff5e79;
}
#special .heading p {
  color: rgb(255, 88, 88);
  font-size: 2rem;
}
#special .card-container {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#special .card-container .card {
  height: 45rem;
  width: 30rem;
  background: rgb(255, 146, 73);
  padding: 1rem;
  margin: 2rem;
  text-align: center;
  box-shadow: rgb(35, 97, 6);
  align-items: center;
  border-radius: 2rem;
}
#special .card-container .card h2 {
  padding: 1rem;
  color: white;
}
#special .card-container .card img {
  height: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem;
}
#special .card-container .card p {
  font-size: 1.5rem;
  margin: 2rem 0;
  color: black;
}
#special .card-container .card button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 3.5rem;
  width: 14rem;
  background: #fff;
  color: #ff5e79;
}
#special .card-container .card button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #ff5e79;
  height: 100%;
  width: 0;
  transition: 0.2s;
  z-index: -1;
}
#special .card-container .card button:hover::before {
  width: 100%;
}
#special .card-container .card button:hover {
  color: #fff;
}
#special .card-container .card:hover {
  transform: scale(0.9);
}

#about {
  min-height: 100vh;
  background: rgb(255, 231, 123);
}
#about .heading h1 {
  font-size: 4rem;
  color: #000;
  padding-top: 7rem;
  margin-bottom: 2rem;
  font-family: "Patua One", sans-serif;
  color: #fff;
}
#about .heading h1 span {
  color: #ff5e79;
}
#about .content {
  margin: 5rem auto;
}
#about .content p {
  font-size: 2rem;
  color: rgb(255, 146, 73);
}
#about .content button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 14rem;
  background: rgb(255, 146, 73);
  color: #fff;
}
#about .content button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #ff5e79;
  height: 100%;
  width: 0;
  transition: 0.2s;
  z-index: -1;
}
#about .content button:hover::before {
  width: 100%;
}
#about .content button:hover {
  color: #fff;
}
#about .image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#flavor {
  min-height: 100vh;
  width: 100vw;
  background: rgb(255, 231, 123);
}
#flavor .heading h1 {
  font-size: 4rem;
  color: #000;
  padding-top: 7rem;
  margin-bottom: 2rem;
  font-family: "Patua One", sans-serif;
  color: #fff;
}
#flavor .heading h1 span {
  color: #ff5e79;
}
#flavor .heading p {
  color: rgb(255, 88, 88);
  font-size: 2rem;
}
#flavor .box-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
}
#flavor .box-container .box {
  height: 20rem;
  width: 25rem;
  border-radius: 0.5rem;
  margin: 2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0.5rem rgb(35, 97, 6);
}
#flavor .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#flavor .box-container .box .info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.06);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: #fff;
  transform: scale(0);
}
#flavor .box-container .box .info h3 {
  font-size: 3rem;
}
#flavor .box-container .box .info p {
  font-size: 1.3rem;
  border-bottom: 0.2rem solid #ff5e79;
  border-top: 0.2rem solid #ff5e79;
  margin: 1rem 2rem;
}
#flavor .box-container .box .info button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 14rem;
}
#flavor .box-container .box .info button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #ff5e79;
  height: 100%;
  width: 0;
  transition: 0.2s;
  z-index: -1;
}
#flavor .box-container .box .info button:hover::before {
  width: 100%;
}
#flavor .box-container .box:hover .info {
  transform: scale(1);
}

#contact {
  min-height: 100vh;
  width: 100vw;
  background: url("../img/tea.jpg");
  background-size: cover;
  background-position: center;
}
#contact .heading h1 {
  font-size: 4rem;
  color: #000;
  padding-top: 7rem;
  margin-bottom: 2rem;
  font-family: "Patua One", sans-serif;
  color: #fff;
}
#contact .heading h1 span {
  color: #ff5e79;
}
#contact form {
  background: #fff;
  padding-top: 2rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgb(35, 97, 6);
}
#contact form .inputBox {
  position: relative;
  text-align: center;
}
#contact form .inputBox input,
#contact form .inputBox textarea {
  outline: none;
  border: 0.2rem solid #333;
  border-radius: 0.2rem;
  margin: 2rem 0;
  padding: 0 1rem;
  background: none;
  height: 4rem;
  width: 90%;
  font-size: 2rem;
}
#contact form .inputBox input:focus ~ h3, #contact form .inputBox input:valid ~ h3,
#contact form .inputBox textarea:focus ~ h3,
#contact form .inputBox textarea:valid ~ h3 {
  font-size: 1.6rem;
  left: 6%;
  top: -0.5rem;
  color: #ff4281;
}
#contact form .inputBox textarea {
  padding: 1rem;
  resize: none;
  height: 20rem;
}
#contact form .inputBox h3 {
  position: absolute;
  top: 3rem;
  left: 7%;
}
#contact form input[type=submit] {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 12rem;
  margin-bottom: 2rem;
  margin-left: 4%;
  background: rgb(255, 146, 73);
  color: #fff;
}
#contact form input[type=submit]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #ff5e79;
  height: 100%;
  width: 0;
  transition: 0.2s;
  z-index: -1;
}
#contact form input[type=submit]:hover::before {
  width: 100%;
}
#contact form input[type=submit]:hover {
  color: #fff;
  background: #ff5e79;
}

#footer {
  background: #333;
}
#footer h1 {
  font-size: 2rem;
  margin: 0;
  padding: 2rem 0;
  text-align: center;
  color: #fff;
}
#footer h1 span {
  color: #ff5e79;
}
#footer .brand {
  text-align: center;
  margin-top: 2rem;
}
#footer .brand a .logo img {
  height: 4rem;
}
#footer .brand .icons a {
  font-size: 2rem;
  margin: 2rem 1rem;
  color: #fff;
}
#footer .brand .icons a:hover {
  color: #ff5e79;
}
#footer .footer-links {
  text-align: center;
  display: flex;
  flex-flow: column;
  margin: 1rem 0;
}
#footer .footer-links h3 {
  font-size: 2.2rem;
  color: #ff5e79;
}
#footer .footer-links a {
  color: #fff;
  font-size: 1.7rem;
}
#footer .letter h2 {
  font-size: 2rem;
  margin: 2rem 0;
  color: #fff;
}
#footer .letter input[type=text] {
  border: 0.2rem solid #fff;
  outline: none;
  background: none;
  height: 4rem;
  width: 22rem;
  padding: 0 1rem;
  font-size: 1.3rem;
  color: #fff;
}
#footer .letter input[type=submit] {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 12rem;
  margin: 1rem 0;
}
#footer .letter input[type=submit]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #ff5e79;
  height: 100%;
  width: 0%;
  transition: 0.2s;
  z-index: -1;
}
#footer .letter input[type=submit]:hover {
  color: #fff;
  background: #ff5e79;
}
#footer .letter input[type=submit]:hover::before {
  width: 100%;
}

.fa-times {
  transform: skew(-180deg) rotate(180deg);
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  #header .fa-bars {
    display: block;
  }
  #header nav {
    position: fixed;
    top: 0;
    left: -120%;
    height: 100vh;
    width: 35rem;
    background: rgb(255, 172, 117);
  }
  #header nav ul {
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }
  #header nav ul li {
    margin: 2rem 0;
  }
  #header nav ul li a {
    font-size: 3.5rem;
    border-radius: 5rem;
  }
  #header nav ul li a:hover {
    padding: 0.5rem 7.5rem;
    color: rgb(255, 255, 255);
    background: #ff5e79;
  }
  #header .nav-toggle {
    left: 0px;
  }
  #about .image {
    text-align: center;
  }
  #about .image img {
    width: 70vw;
  }
}/*# sourceMappingURL=food.css.map */